<div class="navbar navbar-fixed-top" data-ng-controller="navbarContoller">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/"><%= sails.config.appName %></a>

  </div>
  <div class="navbar-collapse collapse">
    <%- MenuService.getMenu('mainMenu', req) %>

    <% if(req.isAuthenticated()){ %>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle user-menu-link" data-toggle="dropdown">
            <span class="avatar-small">
              <gravatar email="user.email" data-ng-model="user" size="200" class="img-circle pull-left" style="width: 40px; height: 40px"></gravatar>
              <span avatar="user.id"></span>
            </span>
            <span class="user-name" data-ng-bind="user.name"><%= req.user.name %></span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" href="#ChangeAvatarModal"><%= __('Change Avatar') %></a></li>
            <li class="divider"></li>
            <li><a href="/account/"><%= __('View account') %></a></li>
            <li><a href="/account/edit/"><%= __('Edit account') %></a></li>
            <li class="divider"></li>
            <li><a href="/users/logout"><%= __('Sing out') %></a></li>
          </ul>
        </li>
      </ul>
    <% } else { %>
    <div class="dropdown pull-right">
      <a href="/signup" class="btn btn-success"><%= __('Sign up') %></a>
        <!-- Button trigger modal -->

      <a data-toggle="modal" href="#loginFormModal" class="btn btn-primary"><%= __('Log in') %></a>
    </div>
  <% } %>

    <ul class="nav navbar-nav">

    </ul>
  </div><!--/.nav-collapse -->
</div>
