<!DOCTYPE html>
<html data-ng-app="application">
  <head>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/dynamic-grid-container.css">
    <link rel="stylesheet" href="/linker/styles/messenger.css">
    <link rel="stylesheet" href="/linker/styles/site.css">
    <link rel="stylesheet" href="/styles/jquery.fileupload.css">
    <link rel="stylesheet" href="/styles/jquery.fileupload-ui.css">
    <!--STYLES END-->

    <!-- jquery file upload -->
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/styles/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="/styles/jquery.fileupload-ui-noscript.css"></noscript>



    <!--SCRIPTS-->
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/linker/js/angular.min.js"></script>
    <script src="/linker/js/angular-resource.min.js"></script>
    <script src="/js/angularjs/libs/angular-masonry.min.js"></script>
    <script src="/js/angularjs/application.js"></script>
    <script src="/js/angularjs/services/activityResource.js"></script>
    <script src="/js/angularjs/services/messengerService.js"></script>
    <script src="/js/angularjs/services/session.js"></script>
    <script src="/js/angularjs/services/socket.js"></script>
    <script src="/js/angularjs/services/users.js"></script>
    <script src="/js/angularjs/resolvers/activityResolver.js"></script>
    <script src="/js/angularjs/controllers/activityController.js"></script>
    <script src="/js/angularjs/controllers/avatarController.js"></script>
    <script src="/js/angularjs/controllers/create-account.js"></script>
    <script src="/js/angularjs/controllers/fileController.js"></script>
    <script src="/js/angularjs/controllers/fileManagerController.js"></script>
    <script src="/js/angularjs/controllers/homeController.js"></script>
    <script src="/js/angularjs/controllers/login.js"></script>
    <script src="/js/angularjs/controllers/messengerController.js"></script>
    <script src="/js/angularjs/controllers/navbarContoller.js"></script>
    <script src="/js/angularjs/directives/avatarDirective.js"></script>
    <script src="/js/angularjs/directives/gravatarDirective.js"></script>
    <script src="/js/jquery/jquery.ui.widget.js"></script>
    <script src="/js/load-image.min.js"></script>
    <script src="/js/jquery/canvas-to-blob.min.js"></script>
    <script src="/js/jquery/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/jquery/jquery.iframe-transport.js"></script>
    <script src="/js/jquery/jquery.fileupload.js"></script>
    <script src="/js/jquery/jquery.fileupload-process.js"></script>
    <script src="/js/jquery/jquery.fileupload-image.js"></script>
    <script src="/js/jquery/jquery.fileupload-audio.js"></script>
    <script src="/js/jquery/jquery.fileupload-video.js"></script>
    <script src="/js/jquery/jquery.fileupload-validate.js"></script>
    <script src="/js/jquery/jquery.fileupload-angular.js"></script>
    <script src="/linker/js/angular-cookies.min.js"></script>
    <script src="/linker/js/angular-translate.min.js"></script>
    <script src="/linker/js/imagesloaded.min.js"></script>
    <script src="/linker/js/messenger.js"></script>
    <!--SCRIPTS END-->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <title><%- title %></title>

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>

    <div class="container ng-cloak" >

      <%- include partials/navbar.ejs %>

      <div class="main row marketing">
        <!-- Include the view file for the current controller/route -->
        <h4 data-ng-show="message">{{message}}</h4>
        <div data-ng-view>
          <%- body %>
        </div>

      </div>

      <div id="loading-site" >

        <div class="message"><%= __('Loading') %> ... </div>
        <img class="loading-gif" src="/imgs/loading-site.gif" alt="Loading ...">
      </div>

      <hr class="featurette-divider">

      <%- include partials/footer.ejs %>

      <!--

        Client-side Javascript
        ========================

        You can import any js files in your `assets` directory as you would
        normally: using <script></script> tags.

        Here's an example of importing a few dependencies, in order:
      -->
      <!-- Bring in the socket.io client -->
      <script type="text/javascript" src="/js/socket.io.js"></script>
      <!-- then beef it up with some convenience logic for talking to Sails.js -->
      <script type="text/javascript" src="/js/sails.io.js"></script>
      <!-- listen on socket.io for incoming messages -->
      <script type="text/javascript" src="/js/app.js"></script>

      <!-- Your scripts here? -->

      <!--

        Looking for client-side CoffeeScript or TypeScript?
        ================================================

        CoffeeScript and TypeScript precompilation are not installed by default,
        but if you'd like to mix those features in, it is straightforward to
        `npm install` the relevant grunt community modules and modify your Gruntfile
        to use them.

      -->



      <!--

        Another way: The Asset Linker
        ========================

        Sails supports a Grunt-based asset linker, to automatically inject
        <link> and <script> tags, as well any client-side templates you're using
        into your HTML layouts and views, respecting dependencies.

        You created this Sails app with the asset linker disabled.
        If you change your mind, check out the docs on the subject:
        http://sailsjs.org/#!documentation/asset-management

      -->

      <div data-ng-controller="FileManagerController" class="modal" id="fileManagerModal" tabindex="-1" role="dialog" aria-labelledby="fileManagerModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div  data-ng-include="'/templates/file-manager.html'"></div>
          </div><!-- /.modal-content -->
        </div>
      </div>

      <div data-ng-controller="AvatarController">
        <div  data-ng-include="'/templates/change-avatar-form.html'"></div>
      </div>

      <div data-ng-controller="LoginCtrl">
        <div  data-ng-include="'/templates/login-form.ejs'"></div>
      </div>
    </div>
          <%- include messages/partials/contact-list.ejs %>

  </body>
</html>
