<!DOCTYPE html>
<html ng-app="application">
  <head>
    <!--SCRIPTS-->
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/angular.min.js"></script>
    <script src="/linker/js/angular-resource.min.js"></script>
    <script src="/js/angularjs/application.js"></script>
    <script src="/js/angularjs/services/session.js"></script>
    <script src="/js/angularjs/services/socket.js"></script>
    <script src="/js/angularjs/services/users.js"></script>
    <script src="/js/angularjs/controllers/create-account.js"></script>
    <script src="/js/angularjs/controllers/login.js"></script>
    <script src="/js/angularjs/controllers/main.js"></script>
    <script src="/js/angularjs/controllers/messenger.js"></script>
    <script src="/js/angularjs/controllers/user.js"></script>
    <script src="/linker/js/angular-cookies.min.js"></script>
    <script src="/linker/js/messenger.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/messenger.css">
    <link rel="stylesheet" href="/linker/styles/site.css">
    <!--STYLES END-->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  </head>
  <body>

    <div class="container">
      <%- include partials/navbar.ejs %>

      <div class="main row marketing" data-ng-controller="MainCtrl">
        <!-- Include the view file for the current controller/route -->
        <h4 data-ng-show="message">{{message}}</h4>
        <div data-ng-view>

        </div>
        <%- body %>
      </div>

      <hr class="featurette-divider">

      <%- include partials/footer.ejs %>

      <!--

        Client-side Javascript
        ========================

        You can import any js files in your `assets` directory as you would
        normally: using <script></script> tags.

        Here's an example of importing a few dependencies, in order:
      -->
      <!-- Bring in the socket.io client -->
      <script type="text/javascript" src="/js/socket.io.js"></script>
      <!-- then beef it up with some convenience logic for talking to Sails.js -->
      <script type="text/javascript" src="/js/sails.io.js"></script>
      <!-- listen on socket.io for incoming messages -->
      <script type="text/javascript" src="/js/app.js"></script>

      <!-- Your scripts here? -->
      <!-- Your scripts here? -->
      <!-- Your scripts here? -->


      <!--

        Looking for client-side CoffeeScript or TypeScript?
        ================================================

        CoffeeScript and TypeScript precompilation are not installed by default,
        but if you'd like to mix those features in, it is straightforward to
        `npm install` the relevant grunt community modules and modify your Gruntfile
        to use them.

      -->



      <!--

        Another way: The Asset Linker
        ========================

        Sails supports a Grunt-based asset linker, to automatically inject
        <link> and <script> tags, as well any client-side templates you're using
        into your HTML layouts and views, respecting dependencies.

        You created this Sails app with the asset linker disabled.
        If you change your mind, check out the docs on the subject:
        http://sailsjs.org/#!documentation/asset-management

      -->

      <%- include messages/partials/contact-list.ejs %>

      <div data-ng-controller="LoginCtrl">
        <div  data-ng-include="'/templates/login-form.ejs'"></div>
      </div>
    </div>
  </body>
</html>
