<!DOCTYPE html>
<html>
  <head>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/activity.css">
    <link rel="stylesheet" href="/linker/styles/dynamic-grid-container.css">
    <link rel="stylesheet" href="/linker/styles/messenger.css">
    <link rel="stylesheet" href="/linker/styles/site.css">
    <link rel="stylesheet" href="/styles/jquery.fileupload.css">
    <link rel="stylesheet" href="/styles/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <!--STYLES END-->

    <!-- jquery file upload -->

    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/styles/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="/styles/jquery.fileupload-ui-noscript.css"></noscript>


    <!--SCRIPTS-->

    <!--SCRIPTS END-->

    <script data-main="/app/main" src="/js/libs/require.js"></script>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <title><%- title %></title>

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>

    <div class="container ng-cloak" >

      <%- include partials/navbar.ejs %>

      <div class="main row marketing">
        <!-- Include the view file for the current controller/route -->
        <h4 data-ng-show="message">{{message}}</h4>
        <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-9">
            <div data-ui-view>
              <%- body %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div data-ui-view="sidebar">
              <div class="well sidebar-nav">
                <ul class="nav">
                  <li>Sidebar</li>
                  <li class="active"><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li>Sidebar</li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li>Sidebar</li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div><!--/.well -->

            </div>
          </div>
      </div>
      </div>

      <div id="loading-site" >

        <div class="message"><%= __('Loading') %> ... </div>
        <img class="loading-gif" src="/imgs/loading-site.gif" alt="Loading ...">
      </div>

      <hr class="featurette-divider">

      <%- include partials/footer.ejs %>

      <!--

        Client-side Javascript
        ========================

        You can import any js files in your `assets` directory as you would
        normally: using <script></script> tags.

        Here's an example of importing a few dependencies, in order:
      -->

      <!-- Your scripts here? -->

      <!--

        Looking for client-side CoffeeScript or TypeScript?
        ================================================

        CoffeeScript and TypeScript precompilation are not installed by default,
        but if you'd like to mix those features in, it is straightforward to
        `npm install` the relevant grunt community modules and modify your Gruntfile
        to use them.

      -->



      <!--

        Another way: The Asset Linker
        ========================

        Sails supports a Grunt-based asset linker, to automatically inject
        <link> and <script> tags, as well any client-side templates you're using
        into your HTML layouts and views, respecting dependencies.

        You created this Sails app with the asset linker disabled.
        If you change your mind, check out the docs on the subject:
        http://sailsjs.org/#!documentation/asset-management

      -->



      <div data-ng-controller="LoginCtrl">
        <div  data-ng-include="'/templates/login-form.ejs'"></div>
      </div>
    </div>

    <div data-we-messenger></div>

  </body>
</html>
