users aqui

<div>
  <h1><%= title %></h1>

<% if (users.length > 0) { %>
  <ul>
    <% users.forEach(function (user) { %>
      <div>
        <%= user.id %>
        <%= user.name %>
        <%= user.email %>
         <%= user.password %>
        <a href="/users/<%= user.id %>/edit/" class="btn btn-mini" data-ng-click="edit($event)"><i class="icon-edit"></i> Edit</a>
        <a href="/users/destroy/<%= user.id %>" class="btn btn-mini btn-danger" data-ng-click="delete($index,$event)"><i class="icon-remove icon-white"></i> Delete</a>
      </div>
    <% }); %>
  </ul>
<% } else { %>
<p class="alert alert-block alert-info">
    <strong><%= __('No users were found.') %></strong>
</p>
<% } %>

</div>
