<div class="col-lg-6">
  <h2 class="form-signin-heading"><%= __('Create a account') %></h2>

  <form class="form-signin" method="post">

    <div class="input-group input-group-lg">
      <label for="name"><%= __('Name') %></label>
      <input id="name" type="text" class="form-control" placeholder="<%= __('Name') %>" autofocus="" name="name">
    </div>

    <div class="input-group input-group-lg">
      <label for="email"><%= __('Email') %></label>
      <input id="email" type="text" class="form-control" placeholder="<%= __('Email address') %>" name="email">
    </div>

    <div class="input-group input-group-lg">
      <label for="password"><%= __('Password') %></label>
      <input id="password" type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <div class="input-group input-group-lg">
      <label for="confirm-password"><%= __('Confirm password') %></label>
      <input id="confirm-password" type="password" class="form-control" placeholder="Password" name="confirmPassword">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<div class="col-lg-6">

</div>