<div data-ng-controller="LoginCtrl" class="modal" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginFormModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-signin" name="loginForm" method="post" data-ng-submit="login($event)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= __('Login form') %></h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <label class="input-group-addon" for="email"><%= __('Email') %></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required data-ng-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <label class="input-group-addon" for="password"><%= __('Password') %></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-ng-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <label class="checkbox">
            <input type="checkbox" value="remember-me" id="remember" name="remember" data-ng-model="user.remember"><%= __('Remember me') %>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Cancel') %></button>
          <input id="loginButton" class="btn btn-primary" type="submit" value="<%= __('Sign in') %>">
        </div>
  </form>
      </div><!-- /.modal-content -->
    </div>
</div>
